Repository SnapXL/SnapX, pull requests merged in 2025-05, with the labels that each got.

#149 docs: fix grammar mistakes
  README.md
Labels: documentation

#153 docs: grammar fixes in `CONTRIBUTING.md`
  .github/CONTRIBUTING.md
Labels: documentation

#146 docs: add MacPorts `ffmpeg` install guide
  README.md
Labels: documentation

#147 ci(actions): add features to `stale.yml`
  .github/workflows/stale.yml
Labels: actions

#156 docs: update readme
  README.md
Labels: documentation

#150 docs: make the HDR note look better
  README.md
Labels: documentation

#163 docs: make MacPorts guide a tip
  README.md
Labels: documentation

#161 ci(actions): add `todo` to exempt issue labels
  .github/workflows/stale.yml
Labels: actions

#155 ci(actions): add Super-Linter action
  .github/workflows/super-linter.yml
Labels: actions

#168 ci(actions): add linters
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  SnapX.Avalonia/App.axaml.cs
  SnapX.Avalonia/SnapXAvalonia.cs
  SnapX.CommonUI/Changelog.cs
  SnapX.Core/Job/TaskHelpers.cs
  SnapX.Core/SnapX.cs
  SnapX.Core/Utils/OsInfo.cs
  build/Build.cs
  build/_build.csproj
Labels: documentation, actions, Avalonia, Core

#171 style(actions): making the `commitlint` step more human-friendly
  .github/workflows/commitlint.yml
Labels: actions

#176 style: update PRIVACY.md grammar
  packaging/PRIVACY.md
Labels: documentation, packaging

#177 docs: PRIVACY.md grammar fixes & additional indentation
  packaging/PRIVACY.md
Labels: documentation, packaging

#159 build: remove NUKE.build
  .github/workflows/build.yml
  .nuke/build.schema.json
  .nuke/parameters.json
  README.md
  SnapX.sln
  SnapX.slnx
  build.cmd
  build.ps1
  build.sh
  build/.editorconfig
  build/Build.cs
  build/Configuration.cs
  build/Program.cs
  build/SnapX.slnf
  build/_build.csproj
  build/_build.csproj.DotSettings
  build/build.csproj
Labels: documentation, urgent, actions, build

#89 feat(Core): use SharpCapture instead of xcap
  .github/Linux.png
  .github/Progress.md
  .github/workflows/build.yml
  README.md
  SnapX.Avalonia/SnapX.Avalonia.csproj
  SnapX.CommonUI/SnapX.CommonUI.csproj
  SnapX.Core/Capture/CaptureActiveMonitor.cs
  SnapX.Core/FeatureFlags.cs
  SnapX.Core/ImageEffects/Filters/RGBSplit.cs
  SnapX.Core/Media/ImageData.cs
  SnapX.Core/Media/Screen.cs
  SnapX.Core/Media/Screenshot.cs
  SnapX.Core/Media/WindowInfo.cs
  SnapX.Core/ScreenCapture/Rust/Cargo.lock
  SnapX.Core/ScreenCapture/Rust/Cargo.toml
  SnapX.Core/ScreenCapture/Rust/bindings/snapxrust.cs
  SnapX.Core/ScreenCapture/Rust/build.rs
  SnapX.Core/SharpCapture/BaseCapture.cs
  SnapX.Core/SharpCapture/Linux/ConnectionExtensions.cs
  SnapX.Core/SharpCapture/Linux/DBus/DesktopDBus.cs
  SnapX.Core/SharpCapture/Linux/DBus/KwinScreenShotDBus.cs
  SnapX.Core/SharpCapture/Linux/DBus/PropertyChanges.cs
  SnapX.Core/SharpCapture/Linux/LinuxCapture.cs
  SnapX.Core/SharpCapture/Linux/QImage.cs
  SnapX.Core/SharpCapture/Windows/CaptureItemHelper.cs
  SnapX.Core/SharpCapture/Windows/WindowsCapture.cs
  SnapX.Core/SharpCapture/macOS/ScreenCapture.swift
  SnapX.Core/SharpCapture/macOS/macOSCapture.cs
  SnapX.Core/SnapX.Core.csproj
  SnapX.Core/SnapX.cs
  SnapX.Core/Utils/CaptureHelpers.cs
  SnapX.Core/Utils/FileDownloader.cs
  SnapX.Core/Utils/Helpers.cs
  SnapX.Core/Utils/ImageHelpers.cs
  SnapX.Core/Utils/Native/Clipboard.cs
  SnapX.Core/Utils/Native/LinuxAPI.cs
  SnapX.Core/Utils/Native/Methods.cs
  SnapX.Core/Utils/Native/NativeAPI.cs
  SnapX.Core/Utils/Native/WindowsAPI.cs
  SnapX.Core/Utils/OsInfo.cs
  build/Program.cs
  packaging/usr/share/applications/io.github.BrycensRanch.SnapX.desktop
Labels: documentation, enhancement, urgent, actions, packaging, Avalonia, Core, build
